.row {
  margin-left: 15px;
}
.row-items {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row-items::-webkit-scrollbar {
  display: none;
}
.row-items img {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  transition: transform 0.3s;
  margin-right: 10px;
  border-radius: 5px;
}
.row-items img:hover {
  transform: scale(1.08);
}
.bg-img img {
  max-height: 250px;
}
.bg-img img:hover {
  transform: scale(1.1);
}
